.btn {
    border: none;
    background-color: var(--dark-slate-grey);
    color: var(--white);
    font-weight: var(--bold);
    padding: 1rem 0 1rem 0;
    border-radius: 6px;
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(to right, var(--secondary), var(--primary));
    box-shadow: 0 0.75rem 16px 1px var(--primary-transparent);
}
